* {
    margin: 0;
    padding: 0;
    background-color: #91A3B0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu', sans-serif;  
    box-sizing: border-box;
}

/*body {
    max-width: 1440px;
    background-color: #91A3B0;
    box-sizing: border-box;
}*/

navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: transparent;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 20px;
    font-weight: 600;
    background-color: #515151;
}

/* form create */
.container {
    position: absolute;
    padding: 15px 20px;
    max-width: 650px;
    width: 650px; /* ให้ความกว้างเต็มหน้าจอ */
    height: 690px; /* ให้ความสูงเต็มหน้าจอ */
    background-color: #f0f0f0;
    border-radius: 35px;
    left: 50%;
    transform: translate(-50%);
}
.form-detail input[type="file"] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 25px;
    background-color: #0496FF;
    border-color: transparent;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    cursor: pointer;
}

form {
    background-color: transparent;
}
.form-detail , .form-detail label {
    background-color: transparent;
    padding: 7px 8px;
}
.form-detail input , .form-detail select{
    background-color: transparent;
    padding: 8px 5px;
    border: none;
    border-bottom: 3px solid #515151;
    font-size: 14px;
    outline: none;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #0496FF;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;

}












