* {
    margin: 0;
    padding: 0;
    background-color: #91A3B0;
    align-items: center;
    box-sizing: border-box;
}

/*body {
    max-width: 1440px;
    background-color: #91A3B0;
    box-sizing: border-box;
}*/

navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
    padding: 20px;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 20px;
    font-weight: 600;
    background-color: #515151;
}

/* form create */
.form-cre {
    background-color: #f0f0f0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 820px;
    
}
