* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    background-color: #91A3B0;
}

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
    padding: 20px;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 15px 15px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 600;
}

