* {
    margin: 0;
    padding: 0;
    background-color: #91A3B0;

}

/*body {
    max-width: 1440px;
    background-color: #91A3B0;
    box-sizing: border-box;
}*/

navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: transparent;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 20px;
    font-weight: 600;
    background-color: #515151;
}

/* form create */
.container {
    position: absolute;
    padding: 20px 20px;
    width: 550px; /* ให้ความกว้างเต็มหน้าจอ */
    height: 700px; /* ให้ความสูงเต็มหน้าจอ */
    background-color: #f0f0f0;
    border-radius: 35px;
    left: 50%;
    transform: translate(-50%);
}

form {
    background-color: transparent;
}
.form-detail , .form-detail label {
    background-color: transparent;
}
.form-detail input , .form-detail select{
    background-color: #c1c1c1;
}
.btn-submit {
    padding: 8px 16px;
    background-color: #0496FF;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-top: 20px;
    float: right;
}












