* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

body {
    max-width: 1440px;
    background-color: #91A3B0;
    box-sizing: border-box;
} 

navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: transparent;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 20px;
    font-weight: 600;
    background-color: #515151;
}

/* form edit */
.container {
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 650px;
    border-radius: 35px;
}
.edit-con img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 65px;
    padding: 0 170px;
}
.detail-con {
    text-align: center;
    margin-top: 30px;
    color: #515151;
}
.detail-con input , select {
    background-color: #c1c1c1;
}

.btn-con{
    margin-top: 50px;
}
.btn-update{
    padding: 10px 20px;
    background-color: #0496FF;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-top: 30px;
}
.btn-cancel{
    padding: 10px 20px;
    background-color: #FF3D00;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}



