* {
    margin: 0;
    padding: 0;
    background-color: #91A3B0;
    max-width: 1440px;
}

/* body {
    max-width: 1440px;
    background-color: #91A3B0;
    box-sizing: border-box;
} */

navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color: transparent;
}
.menu-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 20px;
    font-weight: 600;
    background-color: #515151;
}

/* CARD */
.card-con {
    position: absolute;
    background-color: #515151;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 650px;
    border-radius: 35px;
}
.card-acc img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*margin-left: 60px;*/
    margin-top: 65px;
    background-color: transparent;
}
.card-acc {
    text-align: center;
    background-color: transparent;
    color: #fff;
}
.main-info {
    margin: 25px;
}

/* BTN */
.btn-card{
    margin-top: 50px;
}
.btn-edit{
    padding: 10px 20px;
    background-color: #515151;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-top: 30px;
}
.btn-signo{
    padding: 10px 20px;
    background-color: #FF8A00;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}


